<div class="container my-5">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Products Table</h1>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          (keyup)="search($event)"
        />
      </div>

      <div class="card mb-3" *ngIf="products">
        <div class="card-body">
          <table class="table" style="table-layout: fixed">
            <thead>
              <tr>
                <th scope="col" sortable="id" (sort)="onSort($event)">Id</th>
                <th scope="col" sortable="title" (sort)="onSort($event)">
                  Title
                </th>
                <th scope="col" sortable="description" (sort)="onSort($event)">
                  Description
                </th>
                <th scope="col" sortable="brand" (sort)="onSort($event)">
                  Brand
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; index as i">
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.brand }}</td>
                <td><img src="{{ product.thumbnail }}" /></td>
              </tr>
              <tr *ngIf="!products.length">
                <td colspan="5" class="text-center p-5">No records found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshProducts()"
        >
        </ngb-pagination>
        <select
          class="form-select"
          style="width: auto"
          [(ngModel)]="pageSize"
          (ngModelChange)="refreshProducts()"
        >
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
